.cart{
    display: flex;
    flex-flow: column;
    align-items: center;
    

}
.cartItems{
    width: 80%;
    display: flex;
    /*align-items: center;*/
    justify-content:space-between;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    margin-bottom: 30px;
}

.cartItems li{
    width: 150px;
}
